
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition>
 <nav>
    <div class="nav-wrapper" style="background-color: #363131;">
      <img src="" style="margin-left: 20px"/><spam style="font-family: amazone;">EMPADARIA</spam>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="verPromocao.xhtml" id="nav-mobile" style="font-size: 14px;">PROMOÇÕES</a></li>
        <li><a href="sairCliente.xhtml" style="font-size: 14px;">SAIR</a></li>
        <li><a href="addPedido.xhtml" style="font-size: 14px;">FAZER PEDIDO</a></li>
      </ul>
    </div>
  </nav>
</ui:composition>
</html>
