<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="template/template.xhtml">
	<ui:define name="content">
		<h:form>
			Nome: <h:inputText value="#{ClienteAdd.nome}" name="nome" id="nome" />
			<br />
			Usuário: <h:inputText value="#{ClienteAdd.user}" name="user" id="user" />
			<br />
			Senha: <h:inputSecret value="#{ClienteAdd.senha}" name="senha" id="senha"/>
			<br/>
			Telefone: <h:inputText value="#{ClienteAdd.telefone}" name="telefone" id="telefone" />
			<br />
			<h:commandButton action="#{ClienteAdd.add}" value="Adicionar"/>
		</h:form>
	</ui:define>
</ui:composition>
</html>
