<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:composition template="template/template.xhtml">
	<ui:define name="content">
	<div class="row" style="margin-left: 400px">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
		<h:form>
			Nome: <h:inputText value="#{IngreAdd.nome}" name="nome" id="nome" />
			<br />
			Preço: <h:inputText value="#{IngreAdd.preco}" name="preco" id="preco" />
			<br />
			Tipo: <h:inputText value="#{IngreAdd.tipo}" name="tipo" id="tipo" />
			<br />
			<h:selectOneRadio value = "#{IngreAdd.tipo}"> 
			   <f:selectItem itemValue = "1" itemLabel = "Tamanho" /> 
			   <f:selectItem itemValue = "2" itemLabel = "Recheio" />
			   <f:selectItem itemValue = "2" itemLabel = "Molho" />
			   <f:selectItem itemValue = "2" itemLabel = "Massa" />
			</h:selectOneRadio>    
			<h:commandButton class="waves-effect waves-light btn" action="#{IngreAdd.add}" value="Adicionar"/>
		</h:form>
        </div>
      </div>
    </div>
  </div>
	</ui:define>
</ui:composition>
</html>






