<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core"
	xmlns:p="http://xmlns.jcp.org/jsf/passthrough">
	
<ui:composition template="template/template.xhtml">
	<ui:define name="content">
	<div class="row" style="margin-left: 400px">
    <div class="col s12 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Card Title</span>
		<h:form>
			Texto: <h:inputText value="#{PromocaoAdd.texto}" name="texto" id="texto" />
			<br />
			<h:commandButton class="waves-effect waves-light btn" style="font-size: 13px" action="#{PromocaoAdd.add}" value="Adicionar"/>
		</h:form>
		 </div>
      </div>
    </div>
  </div>
	</ui:define>
</ui:composition>
</html>






