<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="template/template.xhtml">
	<ui:define name="content">
		<h:form>
			Tamanho: <h:inputText value="#{PedidoAdd.tamanho}" name="tamanho" id="tamanho" />
			<br />
			Recheio: <h:inputText value="#{PedidoAdd.recheio}" name="recheio" id="recheio" />
			<br />
			Molho: <h:inputText value="#{PedidoAdd.molho}" name="molho" id="molho" />
			<br />
			Massa: <h:inputText value="#{PedidoAdd.massa}" name="massa" id="massa" />
			<br />
			Quantidade: <h:inputText value="#{PedidoAdd.quantidade}" name="quantidade" id="quantidade" />
			<br />
			<h:inputHidden value="#{PedidoAdd.geId()}"></h:inputHidden>
			<h:commandButton action="#{PedidoAdd.add}" value="Adicionar"/>
		</h:form>
	</ui:define>
</ui:composition>
</html>
