<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	<f:metadata>
		<f:event listener="#{IngreEdit.carregarId(param['id'])}" type ="preRenderView"> </f:event>
	</f:metadata>
<ui:composition template="template/template.xhtml">
	<ui:define name="content">
		<h:form>
			<h:inputHidden id="id" value="#{IngreEdit.id}" />
			Nome: <h:inputText value="#{IngreEdit.nome}" name="nome" id="nome"/>
			<br />
			Preço: <h:inputText value="#{IngreEdit.preco}" name="preco" id="preco"/>
			<br />
			Tipo: <h:inputText value="#{IngreEdit.tipo}" name="tipo" id="tipo"/>
			<br />
			<h:commandButton action="#{IngreEdit.editar}" value="Editar"/>
		</h:form>
	</ui:define>
</ui:composition>
</html>
