<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	<f:metadata>
		<f:event listener="#{ClienteEdit.carregarId(param['id'])}" type ="preRenderView"> </f:event>
	</f:metadata>
<ui:composition template="template/template.xhtml">
	<ui:define name="content">
		<h:form>
			<h:inputHidden id="id" value="#{ClienteEdit.id}" />
			Nome: <h:inputText value="#{ClienteEdit.nome}" name="nome" id="nome"/>
			<br />
			User: <h:inputText value="#{ClienteEdit.user}" name="user" id="user"/>
			<br />
			Telefone: <h:inputText value="#{ClienteEdit.telefone}" name="telefone" id="telefone"/>
			<br />
			Senha: <h:inputSecret value="#{ClienteEdit.senha}" name="senha" id="senha"/>
			<br />
			<h:commandButton action="#{ClienteEdit.editar}" value="Editar"/>
		</h:form>
	</ui:define>
</ui:composition>
</html>
