<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
	<f:metadata>
		<f:event listener="#{PedidoEdit.carregarId(param['id'])}" type ="preRenderView"> </f:event>
	</f:metadata>
<ui:composition template="template/template.xhtml">
	<ui:define name="content">
		<h:form>
			<h:inputHidden id="id" value="#{PedidoEdit.id}" />
			Tamanho: <h:inputText value="#{PedidoEdit.tamanho}" name="tamanho" id="tamanho"/>
			<br />
			Recheio: <h:inputText value="#{PedidoEdit.recheio}" name="recheio" id="recheio"/>
			<br />
			Molho: <h:inputText value="#{PedidoEdit.molho}" name="molho" id="molho"/>
			<br />
			Massa: <h:inputText value="#{PedidoEdit.massa}" name="massa" id="massa"/>
			<br />
			Quantidade: <h:inputText value="#{PedidoEdit.quantidade}" name="quantidade" id="quantidade"/>
			<br />
			<h:commandButton action="#{PedidoEdit.editar}" value="Editar"/>
		</h:form>
	</ui:define>
</ui:composition>
</html>
