<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<h:html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

	 <link type="text/css" rel="stylesheet" href="../resources/css/materialize.min.css"  media="screen,projection"></link>

<h:body>
<ui:composition template="template/template.xhtml">
	<ui:define name="content" class="row">
		<h:form class="col s12">
		<div class="input-field col s6">
			<label for="first_name">Usuário: </label>
			<h:inputText value="#{ClienteLogar.user}" name="nome" id="first_name" class="validate"/>
			<br />
		</div>
		<div class="input-field col s6">
			<label for="icon_prefix">Senha: </label>
			<h:inputSecret value="#{ClienteLogar.senha}" name="senha" id="senha"/>
			<br />
		</div>
			<h:commandButton action="#{ClienteLogar.logar()}" value="Logar" class="waves-effect waves-light btn"/>
		</h:form>
	</ui:define>
</ui:composition>
<script type="text/javascript" src="modelo/materialize.min.js"></script>
</h:body>
</h:html>
