<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="template/template.xhtml">
	<ui:define name="content">
		<h:form>
			Nome: <h:inputText value="#{ProprietarioLogar.user}" name="nome" id="nome" />
			<br />
			Senha: <h:inputSecret value="#{ProprietarioLogar.senha}" name="senha" id="senha"/>
			<br />
			<h:commandButton action="#{ProprietarioLogar.logar()}" value="Adicionar"/>
		</h:form>
	</ui:define>
</ui:composition>
</html>
