<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">

<ui:composition template="template/template.xhtml">
	<ui:define name="content"> <!-- Define o conteúdo da página, substituindo assim o arquivo content.xhtml -->
		<h3>Lista de Pedidos</h3>
		<div align="center">
		<!-- Carrega a lista do bean(que vem da controle) e faz o loop -->
			<h:dataTable value="#{PedidoBean.getLista()}" var="pedido" border="1">
				<h:column>
					<f:facet name="header">ID do usuário</f:facet>
					<!-- pega um atributo específico -->
					#{pedido.tamanho}
				</h:column>
				<h:column>
					<f:facet name="header">Recheio</f:facet>
					#{pedido.recheio}
				</h:column>
				<h:column>
					<f:facet name="header">Molho</f:facet>
					#{pedido.molho}
				</h:column>
				<h:column>
					<f:facet name="header">Massa</f:facet>
					#{pedido.massa}
				</h:column>
				<h:column>
					<f:facet name="header">Quantidade</f:facet>
					#{pedido.quantidade}
				</h:column>
				<h:column>
					<f:facet name="header">Valor</f:facet>
					#{pedido.valor}
				</h:column>
				<h:column>
					<f:facet name="header">Id do usuário</f:facet>
					#{pedido.id_user}
				</h:column>
				<h:column>
					<a href="editarPedidos.xhtml?id=#{pedido.id}">Editar</a>
				</h:column>
				<h:column>
					<f:facet name="header">Remover</f:facet>
					<h:form><h:commandLink value="Deletar" action="#{PedidosDel.deletar(pedido.id)}" /></h:form>
				</h:column>
			</h:dataTable>
		</div>
	</ui:define>
</ui:composition>

</html>
