<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	xmlns:h="http://xmlns.jcp.org/jsf/html"
	xmlns:f="http://xmlns.jcp.org/jsf/core">
<!--  Composissão com o arquivo templete.xhtml -->
<ui:composition template="template/template.xhtml">
	<ui:define name="content"> <!-- Define o conteúdo da página, substituindo assim o arquivo content.xhtml -->
		<h3>Lista de Promções</h3>
		<div align="center">
		<!-- Carrega a lista do bean(que vem da controle) e faz o loop -->
			<h:dataTable value="#{Teste.getLista()}" var="promocao" border="1">
				<h:column>
					<f:facet name="header">Texto</f:facet>
					<!-- pega um atributo específico -->
					#{promocao.texto}
				</h:column>
				<h:column>
					<f:facet name="header">ID</f:facet>
					<!-- pega um atributo específico -->
					#{promocao.id}
				</h:column>
				<h:column>
					<a href="editarPromo.xhtml?id=#{promocao.id}">Editar</a>
				</h:column>
				<h:column>
					<f:facet name="header">Remover</f:facet>
					<h:form><h:commandLink value="Deletar" action="#{PromoDel.deletar(promocao.id)}" /></h:form>
				</h:column>
			</h:dataTable>
		</div>
	</ui:define>
</ui:composition>
</html>
